
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables */
:root {
  --font-display: "Poppins";
  --breakpoint-3x1: 1920px;
  --color-primary: #875cfc;
  --background-color: #fcfbfc;
}

/* Tailwind layer: base */
@layer base {
  body {
    font-family: var(--font-display), sans-serif;
    background-color: var(--background-color);
    overflow-x: hidden;
  }
}
